@model MVCProject.Models.StudentM

@{
    ViewData["Title"] = "Student Details";
}

<h1>Student Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.StudentID</td>
            <td>@Model.FirstName</td>
            <td>@Model.LastName</td>
            <td>@Model.Email</td>
            <td>@Model.DateOfBirth.ToShortDateString()</td>
            <td>@Model.Balance</td>
        </tr>
    </tbody>
</table>

<p>
    <a asp-action="RechargeAccount" asp-route-id="@Model.StudentID">Recharge Account</a>
</p>